@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import './splide.min.css';

@import './plugins/select2.css';

@import './plugins/select2-tailwind.css';

:root {
    --main-bg-color: #064468;
    --hover-bg-color: #c79b22;
    --main-text-color: #fff;
    --hover-text-color: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, a, span {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

.bg-theme {
    background-color: var(--main-bg-color);
}

.hover\:bg-theme:hover {
    background-color: var(--hover-bg-color);
}

.text-theme, a.text-theme {
    color: var(--main-text-color);
}

.text-theme-link {
    color: var(--main-bg-color);
}

.hover\:text-theme-link:hover {
    color: var(--hover-bg-color);
}

.hover\:text-theme:hover {
    color: var(--hover-text-color);
}

.border-theme {
    border-color: var(--main-bg-color);
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    transition-duration: 300ms;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
}

.btn-primary {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-primary:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}