@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import './splide.min.css';

@import './plugins/select2.css';

@import './plugins/select2-tailwind.css';

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p, a, span {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}